<h1>Welcome to Mmm... Burger!</h1>

<div class="container-fluid">
     <div class="row">
          <div class="col" id="availablesection">
               <h2 class="burgerheading">Available Burgers</h2>
               <div>
                    <ul>
                         {{#each burgers}}
                         {{#unless devoured}}
                         {{> burgers/burger-block devour=true}}
                         {{/unless}}
                         {{/each}}
                    </ul>
               </div>
          </div>

          <div class="col" id="devouredsection">
               <h2 class="burgerheading">Devoured Burgers</h2>
               <div>
                    <ul>
                         {{#each burgers}}
                         {{#if devoured}}
                         {{> burgers/burger-block devour=false}}
                         {{/if}}
                         {{/each}}
                    </ul>
               </div>
          </div>
     </div>
</div>

<div class="container-fluid">
     <div id="addburgersection">
          <h2 id="addburger">Add a Burger</h2>
          

               <form class="create-form">
                    <div class="row">
                    <div class="col-12">
                         <div class="col-4" id="step1">
                              <div class="form-group">
                                   <label for="bu">What is the name of the new burger?</label>
                                   <input type="text" id="bu" name="name">
                              </div>
                         </div>
                         <div class="col-4" id="step2">
                              <div class="form-group">
                                   <label for="devour">Devour now?</label><br>
                                   <input type="radio" name="devoured" value="1" checked>Devour!<br>
                                   <input type="radio" name="devoured" value="0">Wait to Eat
                              </div>
                         </div>
                         <div class="col-4" id="step3">
                              <button type="submit">Create Your Burger!</button>
                         </div>     
                    </div>
                    </div>
               </form>
          
     </div>
</div>
